<h1 align="center">Listing all positions</h1>

<div class="row">
	<div class="col-md-12 col-md-offset-10">
		<%= link_to "Create new position", new_position_path, class: "btn btn-s btn-primary btn-add" %>
	</div>
</div>
<table class="table table-condensed table-striped">
	<tr>
		<th>Position</th>
		<th>Allocated Money</th>
		<th>Amount Spent</th>
		<th>Amount Left</th>
		<th>Budget Progression</th>
		<th>Actions</th>
	</tr>

	<% @positions.each do |p| %>
	<tr>
		<td><%= link_to p.name, position_path(p) %></td>
		<td><%= p.allocated_money %></td>
		<td></td>
		<td></td>
		<td></td>
		<td><%= link_to 'Edit', edit_position_path(p), class: "btn btn-success btn-xs" %>
			<%= link_to 'Delete', position_path(p), method: :delete, data: {confirm: "Delete position?"}, class: "btn btn-danger btn-xs" %></td>
	</tr>
	<% end %>
</table>