<!--Displays the index page for the positions-->
<div class="well row">
	<h4 class="col-md-6 center position-details">
		
	
		<strong>Progression of the Year: <%= '%.2f' % get_progression() %>%</strong>
	</h4>
	<h4 class="col-md-6 center position-details">
		<strong>Budget of the Year: <%= number_to_currency(get_total_budget(@incomes)) %></strong> <br/>
		<strong>Amount Left: <%= number_to_currency(get_total_amount_left(@incomes)) %></strong>
	</h4>
</div>
<h3 align="center">Listing all positions</h3>

<div class="row center">
	<div class="col-md-12">
		<%= link_to "Create new position", new_position_path, class: "btn btn-s btn-primary btn-top" %>
	</div>
</div>
<table class="table table-condensed table-striped bg-white">
	<tr>
		<th>Position</th>
		<th>Allocated Money</th>
		<th>Amount Spent</th>
		<th>Amount Left</th>
		<th>Budget Progression</th>
		<th>Actions</th>
	</tr>
	<!--Goes through each row in the DB and displays them in the table-->
	<% @positions.each do |p| %>
	<tr>
		<td><%= link_to p.name, position_path(p) %></td>
		<td><%= number_to_currency(p.allocated_money) %></td>
		<td><%= number_to_currency(get_position_amount_spent(p)) %></td>
		<td><%= number_to_currency(get_position_amount_left(p)) %></td>
		<td><%= '%.2f' % get_position_budget_progress(p) %>%</td>
		<td><%= link_to 'Edit', edit_position_path(p), class: "btn btn-warning btn-xs" %>
			<%= link_to 'Delete', position_path(p), method: :delete, data: {confirm: "Delete position?"}, class: "btn btn-danger btn-xs" %></td>
	</tr>
	<% end %>
</table>