<!--Displays the show page for the selected position-->
<h2 align="center"><%= @position.name %></h2>
<div class="well col-md-8 col-md-offset-2">
	<h4 class="center position-details">
		<strong>Allocated Money <%= @position.allocated_money %></strong>
	</h4>
</div>

<div class="row">
	<div class="col-md-12 col-md-offset-10">
		<%= link_to "Add an activity", new_activity_path, class: "btn btn-s btn-primary btn-add" %>
	</div>
</div>

<table class="table table-condensed table-striped bg-white">
	<tr>
		<th>Activity</th>
		<th>Allocated Money</th>
		<th>Amount Spent</th>
		<th>Amount Left</th>
		<th>Actions</th>
	</tr>
	<!--Goes through each row in the DB and displays them in the table-->
	<% @position.activities.each do |a| %>
	<tr>
		<td><%= link_to a.activity_name, position_path(a) %></td>
		<td><%= a.allocated_money %></td>
		<td></td>
		<td></td>
		<td><%= link_to 'Edit', edit_activity_path(a), class: "btn btn-success btn-xs" %>
			<%= link_to 'Delete', activity_path(a), method: :delete, data: {confirm: "Delete position?"}, class: "btn btn-danger btn-xs" %></td>
	</tr>
	<% end %>
</table>

<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<%= link_to "Edit this position", edit_position_path(@position), class: "btn btn-xs btn-primary" %>
		<%= link_to "Delete position", position_path(@position), method: :delete, data: {confirm: "Delete position?"}, class: "btn btn-xs btn-danger" %>
		<%= link_to "View all positions", positions_path, class: "btn btn-xs btn-success" %>
	</div>
</div>