<!--Contains the form partial-->
<!--Used for the new and edit actions-->
<%= render 'shared/errors', obj: @user %>

<div class="row">
	<div class="col-md-12">
		<%= form_for(@user, :html => {class: "form-horizontal", role: "form"}) do |p| %>
		<div class="form-group">
			<div class="col-md-8 col-md-offset-2">
				<%= p.text_field :username, class: "form-control", placeholder: "Username" %>
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-8 col-md-offset-2">
				<%= p.text_field :fname, class: "form-control", placeholder: "First name" %>
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-8 col-md-offset-2">
				<%= p.text_field :lname, class: "form-control", placeholder: "Last Name" %>
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-8 col-md-offset-2">
				<%= p.email_field :email, class: "form-control", placeholder: "E-mail address" %>
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-8 col-md-offset-2">
				<%= p.password_field :password, class: "form-control", placeholder: "Password" %>
			</div>
		</div>
		<% if current_user && current_user.admin? %>
		<div class="form-group">
			<div class="col-md-8 col-md-offset-2">
			<label>Admin<%= p.check_box :admin, class: "form-control checkbox", placeholder: "admin" %></label>
			</div>
		</div>
		<% end %>
		<div class="form-group">
			<div class="col-md-offset-2 col-md-12">
				<%= p.submit(@user.new_record? ? "Sign up" : "Update account", class: "btn btn-primary btn-lg") %>
				<%= link_to "Cancel", root_path, class: "btn btn-danger btn-lg" %>
			</div>
		</div>
		<% end %>
	</div>
</div>
