<h1 align="center">All V.C.S.A. Members</h1>
<form class="col-md-12 form-inline btn-top">
		<div class="form-group">
			<%= form_tag users_path, :method => 'get' do %>
			<%= text_field_tag :search, params[:search], class: "form-control hidden-print", placeholder: "Search members by name" %>
			<%= submit_tag "Search", class: "btn btn-default btn-s hidden-print" %>
			<% end %>
		</div>
	</form>
<table class="table table-striped bg-white sortable">
	<tr>
		<th>Name</th>
		<th>Access Level</th>
		<th class="hidden-print">Actions</th>
	</tr>
	<!--Goes through each row in the DB and displays them in the table-->
	<% @users.each do |u| %>
	<tr>
		<td><%= link_to u.fname + " " + u.lname, user_path(u) %></td>
		<td><%= get_access_level(u) %></td>
			<td class="hidden-print">
			<% if logged_in? && (current_user == u || current_user.admin?) %>
				<%= link_to 'Edit', edit_user_path(u), class: "btn btn-warning btn-xs" %>
				<%= link_to 'Delete', user_path(u), method: :delete, data: {confirm: "Delete Member?"}, class: "btn btn-danger btn-xs" %>
			<% end %>
		</td>
		</tr>
		<% end %>
	</table>
