<!--Displays the welcome page of the application-->
<div class="center jumbotron">
</div>

<div class="row center">
	<div class="col-md-12">
		<%= link_to "Budgets", positions_path, class: "btn btn-danger btn-lg"%>
		<%= link_to "Budgets", positions_path, class: "btn btn-danger btn-lg"%>
		<%= link_to "Budgets", positions_path, class: "btn btn-danger btn-lg"%>
		<%= link_to "Budgets", positions_path, class: "btn btn-danger btn-lg"%>
		<%= link_to "Budgets", positions_path, class: "btn btn-danger btn-lg"%>
		<%= link_to "Budgets", positions_path, class: "btn btn-danger btn-lg"%>
	</div>
</div>
