<!--Contains the form partial-->
<!--Used for the new and edit actions-->
<%= render 'shared/errors', obj: @income %>

<div class="row">
	<div class="col-md-12">
		<%= form_for(@income, :html => {class: "form-horizontal", role: "form"}) do |p| %>
		<div class="form-group">
			<div class="col-md-8 col-md-offset-2">
				<%= p.number_field :amount, class: "form-control", placeholder: "Amount", step: :any %>
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-8 col-md-offset-2">
				<%= p.text_area :description, class: "form-control", placeholder: "Description (optional)", autofocus: true %>
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-8 col-md-offset-2">
				<%= p.text_field :date, class: "form-control datepicker", placeholder: "Date" %>
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-offset-2 col-md-12">
				<%= p.submit class: "btn btn-primary btn-lg" %>
				<%= link_to "Cancel", incomes_path, class: "btn btn-danger btn-lg" %>
			</div>
		</div>
		<% end %>
		<script type="text/javascript">
  			$(document).ready(function(){
    		$('.datepicker').datepicker({format: 'yyyy-mm-dd'}).val();
 			});
		</script>
	</div>
</div>
