<!--Displays the index page for the positions-->
<h1 align="center">Listing all Incomes</h1>

<div align="center" class="row">
	<div class="col-md-12">
		<%= link_to "Add new income", new_income_path, class: "btn btn-s btn-primary btn-top" %>
		<%= link_to "View all positions", positions_path, class: "btn btn-s btn-info btn-top" %>
	</div>
</div>
<table class="table table-condensed bg-white sortable">
	<tr>
		<th>Date</th>
		<th>Amount</th>
		<th>Actions</th>
	</tr>
	<!--Goes through each row in the DB and displays them in the table-->
	<% @incomes.each do |i| %>
	<tr>
		<td><%= link_to i.date.to_formatted_s(:long), income_path(i) %></td>
		<td><%= number_to_currency(i.amount) %></td>
		<td><%= link_to 'Edit', edit_income_path(i), class: "btn btn-warning btn-xs" %>
			<%= link_to 'Delete', income_path(i), method: :delete, data: {confirm: "Delete income?"}, class: "btn btn-danger btn-xs" %></td>
	</tr>
	<% end %>

	<tr>
		<td>Total</td>
		<td><%= number_to_currency(@incomes.sum(:amount)) %></td>
	</tr>
</table>
