<!--Contains the form partial-->
<!--Used for the new and edit actions-->
<%= render 'shared/errors', obj: @activity %>

<div class="row">
	<div class="col-md-12">
		<%= form_for(@activity, :html => {class: "form-horizontal", role: "form"}) do |a| %>
		<div class="form-group">
			<div class="col-md-8 col-md-offset-2">
				<%= a.text_field :activity_name, class: "form-control", placeholder: "Activity Name", autofocus: true %>
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-8 col-md-offset-2">
				<%= a.number_field :allocated_money, class: "form-control", placeholder: "Allocated Money", step: :any %>
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-8 col-md-offset-2 dropdown-toggle">
				<%= a.collection_select :position_id, Position.all, :id, :name, {prompt: "Position", :selected => @activity.position_id.to_i}, {class: "btn btn-default dropdown-toggle"}%>
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-offset-2 col-md-12">
				<%= a.submit class: "btn btn-primary btn-lg" %>
				<%= link_to "Cancel", activities_path, class: "btn btn-danger btn-lg" %>
			</div>
		</div>
		<% end %>
	</div>
</div>