<!--Displays the index page for the positions-->
<h1 align="center">Listing all Activities</h1>

<div align="center" class="row">
	<div class="col-md-12">
		<%= link_to "Create new activity", new_activity_path, class: "btn btn-s btn-primary btn-top" %>
		<%= link_to "View all positions", positions_path, class: "btn btn-s btn-info btn-top" %>
	</div>
</div>
<table class="table table-condensed table-striped bg-white">
	<tr>
		<th>Activity</th>
		<th>Allocated Money</th>
		<th>Amount Spent</th>
		<th>Amount Left</th>
		<th>Host</th>
		<th>Actions</th>
	</tr>
	<!--Goes through each row in the DB and displays them in the table-->
	<% @activities.each do |a| %>
	<tr>
		<td><%= link_to a.activity_name, activity_path(a) %></td>
		<td><%= a.allocated_money %></td>
		<td></td>
		<td></td>
		<td><%= link_to a.position.name, position_path(a.position) %></td>
		<td><%= link_to 'Edit', edit_activity_path(a), class: "btn btn-warning btn-xs" %>
			<%= link_to 'Delete', activity_path(a), method: :delete, data: {confirm: "Delete position?"}, class: "btn btn-danger btn-xs" %></td>
	</tr>
	<% end %>
</table>