<!--Displays the index page for the positions-->
<h1 align="center">All Activities</h1>

<div class="row hidden-print">
	<div class="col-md-12 center">
		<%= link_to "Create new activity", new_activity_path, class: "btn btn-s btn-primary btn-top" %>
		<%= link_to "View all positions", positions_path, class: "btn btn-s btn-info btn-top" %>
	</div>
	<form class="col-md-12 form-inline btn-top">
		<div class="form-group">
			<%= form_tag activities_path, :method => 'get' do %>
			<%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search activities by name" %>
			<%= submit_tag "Search", class: "btn btn-default btn-s" %>
			<% end %>
		</div>
	</form>
</div>
<table class="table table-condensed bg-white sortable">
	<tr>
		<th>Activity</th>
		<th>Allocated Money</th>
		<th>Amount Spent</th>
		<th>Amount Left</th>
		<th>Host</th>
		<th class="hidden-print">Actions</th>
	</tr>
	<!--Goes through each row in the DB and displays them in the table-->
	<% @activities.each do |a| %>
	<tr>
		<td class="col-md-2"><%= link_to a.activity_name, activity_path(a) %></td>
		<td class="col-md-2"><%= number_to_currency(a.allocated_money) %></td>
		<td class="col-md-2"><%= number_to_currency(get_activity_amount_spent(a)) %></td>
		<td class="col-md-2"><%= number_to_currency(get_activity_amount_left(a)) %></td>
		<td class="col-md-2"><%= link_to a.position.name, position_path(a.position) %></td>
		<td class="hidden-print col-md-2"><%= link_to 'Edit', edit_activity_path(a), class: "btn btn-warning btn-xs" %>
			<%= link_to 'Delete', activity_path(a), method: :delete, data: {confirm: "Delete activity and all its components?"}, class: "btn btn-danger btn-xs" %></td>
  </tr>
	<% end %>
</table>

<table class="table table-condensed bg-white">
	<tr>
		<td class="col-md-2"><b>Total</b></td>
		<td class="col-md-2"><%= number_to_currency(@activities.sum(:allocated_money)) %></td>
		<td class="col-md-2"><%= number_to_currency(get_total_activity_amt_spent) %></td>
		<td class="col-md-2"><%= number_to_currency(get_total_activity_amt_left) %></td>
		<td class="col-md-2"></td>
		<td class="col-md-2"></td>
	</tr>
</table>
