<!--Displays the show page for the selected activity-->
<h2 align="center"><%= @activity.activity_name %></h2>
<div class="well col-md-8 col-md-offset-2">
	<h4 class="center position-details">
		<strong>Host: <%= @activity.position.name %></strong><br/>
		<strong>Allocated Money: <%= number_to_currency(@activity.allocated_money) %></strong> <br/>
		<strong>Amount Spent: <%= number_to_currency(get_activity_amount_spent(@activity)) %></strong> <br/>
		<strong>Amount Left: <%= number_to_currency(get_activity_amount_left(@activity)) %></strong> <br/>
	</h4>
</div>

<div align="center" class="row">
	<div class="col-md-12">
		<%= link_to "Add a component", new_component_path, class: "btn btn-md btn-primary btn-top" %>
		<%= link_to "Edit this activity", edit_activity_path(@activity), class: "btn btn-md btn-warning btn-top" %>
		<%= link_to "Delete activity", activity_path(@activity), method: :delete, data: {confirm: "Delete activity?"}, class: "btn btn-md btn-danger btn-top" %>
		<%= link_to "View all activities", activities_path, class: "btn btn-md btn-info btn-top" %>
		<%= link_to "View host", position_path(@activity.position), class: "btn btn-md btn-default btn-top" %>
	</div>
</div>

<table class="table table-condensed table-striped bg-white">
	<tr>
		<th>Component</th>
		<th>description</th>
		<th>cost</th>
		<th>Actions</th>
	</tr>
	<!--Goes through each row in the DB and displays them in the table-->
	<% @activity.components.each do |c| %>
	<tr>
		<td><%= link_to c.component_name, component_path(c) %></td>
		<td><%= truncate(c.description, length: 10) %></td>
		<td><%= number_to_currency(c.cost) %></td>
		<td><%= link_to 'Edit', edit_component_path(c), class: "btn btn-warning btn-xs" %>
			<%= link_to 'Delete', component_path(c), method: :delete, data: {confirm: "Delete component?"}, class: "btn btn-danger btn-xs" %></td>
	</tr>
	<% end %>
</table>