<!--Displays the show page for the selected activity-->
<h2 align="center"><%= @activity.activity_name %></h2>
<div class="well col-md-8 col-md-offset-2">
	<h4 class="center position-details">
		<strong>Allocated Money: <%= @activity.allocated_money %></strong> <br/>
		<strong>Host: <%= @activity.position.name %></strong>
	</h4>
</div>

<div align="center" class="row">
	<div class="col-md-12">
		<%= link_to "Add a component", new_component_path, class: "btn btn-md btn-success btn-top" %>
		<%= link_to "Edit this activity", edit_activity_path(@activity), class: "btn btn-md btn-warning btn-top" %>
		<%= link_to "Delete activity", activity_path(@activity), method: :delete, data: {confirm: "Delete activity?"}, class: "btn btn-md btn-danger btn-top" %>
		<%= link_to "View all activities", activities_path, class: "btn btn-md btn-info btn-top" %>
		<%= link_to "View host", position_path(@activity.position), class: "btn btn-md btn-default btn-top" %>
	</div>
</div>